body{
    background-color: #CACACA;
    color: #433c3c;
}

.container{
    text-align: center;
}

.formulario{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

#password, #user{
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #a9acc1;
    margin-top: 10px;
    width: 500px;
}


#boton{
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 71, 229); /* Con background color el botón no hace el efecto de disabled */
    border-radius: 50px;
    border: 1px solid #0016b0;
    margin-top: 30px;
    width: 300px;
}



